*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

body {
/*    background-color: #fff; */
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    color: #1a1a1a;
 /*   background-image: url(/assets/images/grid-16x16.png);
    background-repeat: repeat;
    */
}

a{
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    background-color: rgb(230, 222, 222);
    max-width: 1120px;
    margin: auto;
}

nav .bloc_50_right, nav .bloc_50_left{
    display: flex;
    margin-top: 2rem;
    width: 50%;
    height: 4rem;
    margin-bottom: 3rem;
}


/* NAV */
.bloc_50_right ul {
    width: 100%;
    font-size: 14px;
    padding: 0 0.8rem;
    height: 4rem;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.bloc_50_right a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    display: block;
    padding: 1.5rem 1rem;
}

.bloc_50_right a:hover{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color:#fcfafb;
    padding: 1.5rem 1rem;
}
/* NAV */






/* HEADER */
header{
    display: flex;
    background-color: rgb(230, 222, 222);
    max-width: 1120px;
    margin: auto;
}

.bloc_text_1{
    font-size: 60px;
    line-height: 80px;
    color: #1e1e1e;
    font-weight: 800;
}

.bloc_text_2{
    width: auto;
    height: 65px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    color: #000000;
}

.bouton_text_3{
    width: 210px;
    height: 48px;
    background-color: #ffe600;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.bloc_text_3{
    padding: 16px 28px 0 28px;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;
    font-family: "Montserrat";
}

.bloc_text_3 a{
    text-decoration: none;
    color: #1e1e1e;
}

.bloc_text_3 a:hover{
    text-decoration: none;
    color: white;
}
/* HEADER */




/* ASIDE */
aside{
    background-color: rgb(230, 222, 222);
    max-width: 1120px;
    margin: auto;
}


.bloc_text_4{
    font-size: 42px;
    line-height: 80px;
    text-transform: uppercase;
    color: #1e1e1e;
    font-weight: 800;
}

.bloc_menu_travaux{
    width: 30%;
}


/* NAV */
.bloc_menu_travaux ul {
    width: 100%;
    height: 3rem;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.bloc_menu_travaux a {
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800px;
    color: black;
    display: block;
    padding: 0.7rem 0.7rem;
}

.bloc_menu_travaux a:hover{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color:#fcfafb;
    padding: 1.5rem 1rem;
}

.active{
    background-color: #ffe600;
}


/* ASIDE */
section{
    background-color: rgb(230, 222, 222);
    max-width: 1120px;
    margin: auto;
}

.align_one_line{
    display: flex;
    background-color: rgb(230, 222, 222);
    max-width: 1120px;
    margin: auto;
}

.align_column{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: 15px;
}

.item_column_2bis{
    text-align: center;
    width: 45%;
}

.item_column_3bis{
}

.item_column_3{
    text-align: center;
    width: 31.5%;
}

.item_column_3_a_propos{
    text-align: center;
    width: 31.5%;
}

.item_column_3_left{
    width: 31.5%;
}

.item_column_6{
    text-align: center;
    width: 15%;
    margin-top: 5rem;
}

.justify_center{
    justify-content: center;
}

.plus{
    width: 130px;
    background-color: #ffe600;
    height: 30px;
}

.align_column_formulaire{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
}
/* ASIDE */


/* SECTION */
section{
    background-color: rgb(230, 222, 222);
    max-width: 1120px;
    margin: auto;
}

.espace_one_line_5{
margin-top: 5rem;
background-color: rgb(230, 222, 222);
max-width: 1120px;
margin: auto;
}

.item_column_2{
    width: 50%;
}

.bloc_text_5{
    font-size: 28px;
    line-height: 80px;
    text-transform: uppercase;
    color: #1e1e1e;
    font-weight: 800;
}

.justify_between{
        justify-content: space-around;
}

.align_items{
    align-items: center;
}

.photo_contenant{
    position: relative;
    text-align: left;
}

.prenom_sur_photo
{
    padding-top: 10px;
    padding-left: 10px;
    background-color: #ffe600;
    width: 260px;
    height: 60px;
    color: black;
    position: absolute;
    top: 81%;
}

.mission_sur_photo
{
    padding-top: 10px;
    padding-left: 10px;
    width: 260px;
    height: 60px;
    color: white;
    position: absolute;
    top: 88%;
}

input, textarea{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    border: 0;
}

.align_one_line_50{
        width: 100%;
}


.bloc_1{
    font-size: 46px;
    line-height: 51px;
    color: black;
}

.bouton_envoyer{
    width: 140px;
    height: 48px;
    background-color: #ffe600;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.align_column_reseaux{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;


    gap: 50px;
    padding-bottom: 4rem;
}
/* SECTION */

footer{
    display: flex;
    max-width: 1184px;
    margin: auto;
}

/* FOOTER */
.main_footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem;
    max-width: calc(1120px + 8rem);
    margin: 0 auto;
    background-color: #1e1e1e;
        width: 1184px;
}

.bloc_footer {
    align-items: center;
    display: flex;
    width: 50%;
}

.contenu_footer1{
    display: flex;
    width: 18%;
}

.contenu_footer2{
    display: flex;
    color: white;
    width: 82%;
}

.contenu_footer3{
    display: flex;
    width: 90%;
    color: white;
    justify-content: end;}

.contenu_footer4{
    display: flex;
    width: 10%;
    justify-content: center;
}
/* FOOTER */


@media screen and (max-width: 959px) and (min-width: 480px){
    /* NAV */
    .bloc_50_right ul {
        padding: 0;
    }
    
    .bloc_50_right a {
        padding: 1.5rem 0rem;
    }
    
    .bloc_50_right a:hover{
        padding: 1.5rem 0rem;
    }
 
    .align_column{
            gap: 5px;
    }

    .item_column_3_a_propos{
        width: 50%;
    }

    .align_column{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
}
    
    
@media screen and (max-width: 480px){
    
    nav{
        display: flex;
        flex-direction: column;    
    }
    
    nav .bloc_50_right, nav .bloc_50_left{
        display: flex;
        width: 100%;
        height: 4rem;
        justify-content: center;
        margin-top: 1rem;
        height: 4rem;
        margin-bottom: 1rem;
    }
    
    .bloc_50_right ul {
        padding: 0;
    }
    
    .bloc_50_right a {
        padding: 1.5rem 0rem;
    }
    
    .bloc_50_right a:hover{
        padding: 1.5rem 0rem;
    }
    
    .item_column_3{
        text-align: center;
        width: 48%;
    }

    header{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .bloc_menu_travaux ul {
        width: 100%;
        height: 3rem;
        display: flex;
        list-style-type: none;
        justify-content: space-between;
    }
    
    .bloc_menu_travaux a {

        padding: 0.7rem 0.5rem;
    }
    
    .bloc_menu_travaux a:hover{

        padding: 0.7rem 0.5rem;
    }

    .align_column{
        gap: 15px;
}    

    .item_column_6{
        text-align: center;
        width: 30%;
        margin-top: 5rem;
    }

    .item_column_3_a_propos{
        width: 100%;
    }


    .item_column_3{
        width: 100%;
    }

    .item_column_3_left{
        text-align: center;
        width: 100%;
    }

}






