*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    color: #1a1a1a;
}


/* NAV */
nav, header{
    display: flex;
    background-color: rgb(230, 222, 222);
    width: 1120px;
    margin: auto;
}

.bloc_50_droit, .bloc_50_left{
    width: 50%;
}




aside, section{
    border: 2px solid royalblue;
    background-color: rgb(230, 222, 222);
    width: 1184px;
    margin: auto;
}

.align_one_line{
    border: 2px solid black;
}

.align_column{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    border: 2px solid brown;
    gap: 20px;
}

.item_column_2bis{
    text-align: center;
    border: 2px solid greenyellow;
    width: 45%;
}

.item_column_3bis{
    border: 2px solid red;
}

.item_column_3{
    text-align: center;
    border: 2px solid greenyellow;
    width: 30%;
}

.item_column_6{
    text-align: center;
    border: 2px solid greenyellow;
    width: 15%;
}

.justify_center{
    justify-content: center;
}

.plus{
    border: 2px solid yellow;
    }


    .align_column_formulaire{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        border: 2px solid brown;
    }
    
    .item_column_2{
        border: 2px solid greenyellow;
        width: 50%;
    }

    .justify_between{
        justify-content: space-around;
    }

    .align_one_line_50{
        width: 100%;
        border: 2px solid black;
    }

footer{
    display: flex;
    border: 2px solid royalblue;
    background-color: rgb(230, 222, 222);
    width: 1184px;
    margin: auto;
}

/* FOOTER */
.main_footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem;
    max-width: calc(1120px + 8rem);
    margin: 0 auto;
    border: 2px solid black;
    background-color: rgb(230, 222, 222);
    width: 1220px;
}

.bloc_footer {
    display: flex;
    width: 50%;
    border: 2px solid rgb(146, 0, 0);
}

.contenu_footer1{
    display: flex;
    border: 2px solid blueviolet;
    width: 15%;
}

.contenu_footer2{
    display: flex;
    border: 2px solid blueviolet;
    width: 85%;
}

.contenu_footer3{
    display: flex;
    border: 2px solid blueviolet;
    width: 85%;
    justify-content: end;}

.contenu_footer4{
    display: flex;
    border: 2px solid blueviolet;
    width: 15%;
}
/* FOOTER */







.bloc_100{
    border: 2px solid black;
    width: 100%;
}

.bloc_33{
    width: 33.33%;
}

.bloc_50_right ul {
    border: 2px solid blue;
    width: 100%;
    padding: 0 3rem;
    height: 4.5rem;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.bloc_50_right a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    display: block;
    padding: 1.5rem 1rem;
}

.bloc_50_right a:hover{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color:#fcfafb;
    padding: 1.5rem 1rem;
}

.bloc_1{
    font-size: 46px;
    line-height: 51px;
    color: black;
}

.align_one_line
{
    display: flex;
    background-color: rgb(230, 222, 222);
    width: 1220px;
    margin: auto;
}
/* BON CSS ACTUEL */







