*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    color: #1a1a1a;
}


nav, header{
    display: flex;
    background-color: rgb(230, 222, 222);
    width: 1120px;
    margin: auto;
}

.bloc_50_droit, .bloc_50_left{
    width: 50%;
    border: 2px solid black;
}


/* NAV */
.bloc_50_right ul {
    border: 2px solid blue;
    width: 100%;
    padding: 0 3rem;
    height: 4.5rem;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.bloc_50_right a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    display: block;
    padding: 1.5rem 1rem;
}

.bloc_50_right a:hover{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color:#fcfafb;
    padding: 1.5rem 1rem;
}
/* NAV */

/* HEADER */
.bloc_text_1{
        font-size: 60px;
        line-height: 80px;
        color: #1e1e1e;
        font-weight: 800;
}

.bloc_text_2{
    width: 544px;
    height: 65px;
    font-size: 12px;
    line-height: 24px;
    color: #000000;
}

.bouton_text_3{
    width: 210px;
    height: 48px;
    background-color: #ffe600;
}

.bloc_text_3{
    padding: 16px 28px 0 28px;
    font-size: 16px;
    text-transform: uppercase;
    color: #1e1e1e;
    font-weight: 500;
    font-family: "Montserrat";
}

.bloc_text_3 a{
    text-decoration: none;
    color: #1e1e1e;
}

.bloc_text_3 a:hover{
    text-decoration: none;
    color: white;
}
/* HEADER */


aside, section{
    border: 2px solid royalblue;
    background-color: rgb(230, 222, 222);
    width: 1120px;
    margin: auto;
}

/* ASIDE */
.bloc_text_4{
    font-size: 42px;
    line-height: 80px;
    text-transform: uppercase;
    color: #1e1e1e;
    font-weight: 800;
}

.bloc_menu_travaux{
    width: 30%;
    border: 2px solid black;
}


/* NAV */
.bloc_menu_travaux ul {
    border: 2px solid blue;
    width: 100%;
    height: 3rem;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.bloc_menu_travaux a {
    border: 2px solid red;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800px;
    color: black;
    display: block;
    padding: 0.7rem 0.7rem;
}

.bloc_menu_travaux a:hover{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color:#fcfafb;
    padding: 1.5rem 1rem;
}

.active{
    background-color: #ffe600;
}


/* ASIDE */
.align_one_line{
    display: flex;
    background-color: rgb(230, 222, 222);
    width: 1120px;
    margin: auto;
    border: 2px solid black;
}

.align_column{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    border: 2px solid brown;
    gap: 15px;
}

.item_column_2bis{
    text-align: center;
    border: 2px solid greenyellow;
    width: 45%;
}

.item_column_3bis{
    border: 2px solid red;
}

.item_column_3{
    text-align: center;
    border: 2px solid greenyellow;
    width: 31.5%;
}

.item_column_6{
    text-align: center;
    border: 2px solid greenyellow;
    width: 15%;
}

.justify_center{
    justify-content: center;
}

.plus{
    width: 130px;
    background-color: #ffe600;
    height: 30px;
}

.align_column_formulaire{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        border: 2px solid brown;
}
/* ASIDE */




.item_column_2{
        border: 2px solid greenyellow;
        width: 50%;
}

.justify_between{
        justify-content: space-around;
}

.align_one_line_50{
        width: 100%;
        border: 2px solid black;
}


.bloc_1{
    font-size: 46px;
    line-height: 51px;
    color: black;
}


footer{
    display: flex;
    border: 2px solid royalblue;
    background-color: rgb(230, 222, 222);
    width: 1184px;
    margin: auto;
}

/* FOOTER */
.main_footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem;
    max-width: calc(1120px + 8rem);
    margin: 0 auto;
    border: 2px solid black;
    background-color: rgb(230, 222, 222);
    width: 1220px;
}

.bloc_footer {
    display: flex;
    width: 50%;
    border: 2px solid rgb(146, 0, 0);
}

.contenu_footer1{
    display: flex;
    border: 2px solid blueviolet;
    width: 15%;
}

.contenu_footer2{
    display: flex;
    border: 2px solid blueviolet;
    width: 85%;
}

.contenu_footer3{
    display: flex;
    border: 2px solid blueviolet;
    width: 85%;
    justify-content: end;}

.contenu_footer4{
    display: flex;
    border: 2px solid blueviolet;
    width: 15%;
}
/* FOOTER */












/* BON CSS ACTUEL */







